h1{
    color: #FFA500; 
    margin: 25px;
}

.menu{
    background-color:#000000;
    justify-content: space-between;
    display:flex;
    font-size: 20px;
    font-family: algerian;
    font-weight: 400;
    color:#FFFFFF;
}

.origamiDesign{
    display:flex;
    justify-content: space-evenly;
    font-family: sans-serif;
    padding: 30px;
    margin: 25;
    background-color: #FFFFFF;
    font-size: 11px;
    border: 2px solid #FFA500;
    border-radius: 50px;
}

.picture{
    margin: 25;
    
}

.grid{
    display:flex;
    flex-wrap:wrap;
    font-family: sans-serif;
    border: 5px solid #000000;
    border-radius: 50px;
}

body{
    margin: 0px;
}

.mainIntro{
    font-size: 20px;
    margin: 50px;
    color: #FFA500;
    background-color: #000000;
    display:flex;
    flex-wrap: wrap;
}

a:link{
    color: #FFFFFF;
}

a:visited{
    color:#FFFFFF;
}

.origamiDesign:hover{
    transform: scale(1.1);
}

.origamiDesign ul{
    opacity: 0;
}

.origamiDesign:hover ul{
    opacity: 1;
}

.link{
    margin: 25px;
}